<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jetbrains.handson.mpp.mobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="net.compoza.deactivator.App"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/deactivator"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="net.compoza.deactivator.activities.SplashscreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.compoza.deactivator.activities.MainViewActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>